* {
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 5px;
}

.box {
    border: 10px solid orange;
    width: 100px;
    height: 100px;
}

.c-smallboxes {
    display: flex;
    align-items: center;
    
}

.box-small {
    border: 4px solid red;
    width: 50px;
    height: 50px;
    margin-left: 24px;
}