.container {
     border: 4px solid black;
     padding: 24px 24px 0 24px;
}

.row {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.search {
    border: 1px solid grey;
    width: 100%;
    height: 30px;
    margin-bottom: 24px;
}

.containertwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    border: 2px solid orange;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
}